<nav class="navbar navbar-expand-lg">

    <a class="navbar-brand" routerLink="/">
        <img src="images/logo.png" alt="Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/peliculas" routerLinkActive="active">
                    Películas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/generos" routerLinkActive="active">
                    Géneros
                </a>
            </li>
        </ul>

        <form class="d-flex">
            <input class="form-control search-input me-2" type="search" placeholder="Buscar películas...">
            <button class="btn btn-neon" (click)="buscar()" type="submit">Buscar</button>
        </form>

    </div>