.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card::before {     
  content: '';     
  position: absolute;     
  top: 0;     
  left: 0;    
   right: 0;     
   bottom: 0;     
   border-radius: 15px;    
  padding: 2px;    
  width: 102%;
  background: linear-gradient(45deg,  rgb(211, 20, 211), rgb(14, 64, 64));     
  mask-composite: exclude;     
  opacity: 0.3;     
  pointer-events: none;   }

.card-img-container {
  position: relative;
  padding-top: 150%; /* Proporción 2:3 (altura / anchura * 100) */
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  margin-bottom: 0.5rem;
}

.vote-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.movie-overview {
  margin-bottom: 1rem;
}

.genre-tags {
  margin-bottom: 0.5rem;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card:hover .card-img-top {
  opacity: 0.5;
}

.movie-card:hover .card-content {
  opacity: 1;
}